{% extends 'panel.html' %}

	{% block buttons %}
		<a class ="rbf-link" style="position:absolute; left:200px" href= "{{ url_for ('index') }}">Remove more Big Files</a>
	{% endblock %}
	{% block content %}
		<h1 class="rbf-h1">About me</h1>
		<p>I have been working in marketing for almost 6 years, and then COVID came turning my career uspide down.
			Since I was a child, many people advised me to learn to code and that I had the potential to do it.
			<br>
			This is my first portfolio project - now remastered. Hope you enjoyed it.
			If you have any ideas for software I could make, just write to me and I'll see what I can do :)</p>
	{% endblock %}